{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <section class="body-index">
        <div class="row">
            <div class="col-1">
                <div class="icon-bar mt-5 pt-3">
                    <a class="active" href="{% url 'app_youtube:index' %}"><i class="fa fa-home"></i></a> 
                    <a href="{% url 'app_youtube:search' %}"><i class="fa fa-search"></i></a>
                    <a href="#"><i class="fa fa-envelope"></i></a> 
                    <a href="#"><i class="fa fa-globe"></i></a>
                    <a href="#"><i class="fa fa-trash"></i></a>
                </div>
            </div>
            <div class="col-11 mt-3">
                <div class="body-index">
                    <h3>Recommended</h3>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-11">
                <div class="list-videos-index">
                    <div class="row">
                        {% for video in page_obj %}
                        <div class="col-3">
                            <a href="{{video.pk}}">
                                <video width="100%">
                                    <source src="{{video.video.url}}" type="video/mp4">
                                    <source src="{{video.video.url}}" type="video/ogg">
                                    Your browser does not support HTML5 video.
                                </video>
                                <p class="title-vid">{{video.title}}</p>
                                <p class="desc-title-vid">{{video.username}}</p>
                                <p class="desc-title-vid">{{video.userviews_set.all|length}} view &middot; {{video.post_date|naturaltime}}</p>
                            </a>
                        </div>   
                        {% endfor %}
                    </div>
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                    
                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                    
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-1"></div>
            <div class="col-11">
                <div class="list-videos-index">
                    <div class="row">
                        <div class="col-3">
                            <a href="https://www.youtube.com/watch?v=HNvmHQCtaKU&list=RDHNvmHQCtaKU&start_radio=1">
                                <img src="images/cat.jpeg" alt="Cat" style="width:270px">
                            </a>
                            <p class="title-vid">Ardhito Pramono - bitterlove (Official Video)</p>
                            <p class="desc-title-vid">Arhito Pramono</p>
                            <p class="desc-title-vid">1M views . 1 month ago</p>
                        </div>
                        <div class="col-3">
                            <a href="https://www.youtube.com/watch?v=HNvmHQCtaKU&list=RDHNvmHQCtaKU&start_radio=1">
                                <img src="images/cat.jpeg" alt="Cat" style="width:270px">
                            </a>
                            <p class="title-vid">Ardhito Pramono - bitterlove (Official Video)</p>
                            <p class="desc-title-vid">Arhito Pramono</p>
                            <p class="desc-title-vid">1M views . 1 month ago</p>
                        </div>
                        <div class="col-3">
                            <a href="https://www.youtube.com/watch?v=HNvmHQCtaKU&list=RDHNvmHQCtaKU&start_radio=1">
                                <img src="images/cat.jpeg" alt="Cat" style="width:270px">
                            </a>
                            <p class="title-vid">Ardhito Pramono - bitterlove (Official Video)</p>
                            <p class="desc-title-vid">Arhito Pramono</p>
                            <p class="desc-title-vid">1M views . 1 month ago</p>
                        </div>
                        <div class="col-3">
                            <a href="https://www.youtube.com/watch?v=HNvmHQCtaKU&list=RDHNvmHQCtaKU&start_radio=1">
                                <img src="images/cat.jpeg" alt="Cat" style="width:270px">
                            </a>
                            <p class="title-vid">Ardhito Pramono - bitterlove (Official Video)</p>
                            <p class="desc-title-vid">Arhito Pramono</p>
                            <p class="desc-title-vid">1M views . 1 month ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-1"></div>
            <div class="col-11 mt-3">
                <div class="body-index">
                    <h3>Hot News</h3>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-11">
                <div class="list-videos-index">
                    <div class="row">
                        <div class="col-3">
                            <a href="https://www.youtube.com/watch?v=HNvmHQCtaKU&list=RDHNvmHQCtaKU&start_radio=1">
                                <img src="images/cat.jpeg" alt="Cat" style="width:270px">
                            </a>
                            <p class="title-vid">Ardhito Pramono - bitterlove (Official Video)</p>
                            <p class="desc-title-vid">Arhito Pramono</p>
                            <p class="desc-title-vid">1M views . 1 month ago</p>
                        </div>
                        <div class="col-3">
                            <a href="https://www.youtube.com/watch?v=HNvmHQCtaKU&list=RDHNvmHQCtaKU&start_radio=1">
                                <img src="images/cat.jpeg" alt="Cat" style="width:270px">
                            </a>
                            <p class="title-vid">Ardhito Pramono - bitterlove (Official Video)</p>
                            <p class="desc-title-vid">Arhito Pramono</p>
                            <p class="desc-title-vid">1M views . 1 month ago</p>
                        </div>
                        <div class="col-3">
                            <a href="https://www.youtube.com/watch?v=HNvmHQCtaKU&list=RDHNvmHQCtaKU&start_radio=1">
                                <img src="images/cat.jpeg" alt="Cat" style="width:270px">
                            </a>
                            <p class="title-vid">Ardhito Pramono - bitterlove (Official Video)</p>
                            <p class="desc-title-vid">Arhito Pramono</p>
                            <p class="desc-title-vid">1M views . 1 month ago</p>
                        </div>
                        <div class="col-3">
                            <a href="https://www.youtube.com/watch?v=HNvmHQCtaKU&list=RDHNvmHQCtaKU&start_radio=1">
                                <img src="images/cat.jpeg" alt="Cat" style="width:270px">
                            </a>
                            <p class="title-vid">Ardhito Pramono - bitterlove (Official Video)</p>
                            <p class="desc-title-vid">Arhito Pramono</p>
                            <p class="desc-title-vid">1M views . 1 month ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-1"></div>
            <div class="col-11">
                <div class="list-videos-index">
                    <div class="row">
                        <div class="col-3">
                            <a href="https://www.youtube.com/watch?v=HNvmHQCtaKU&list=RDHNvmHQCtaKU&start_radio=1">
                                <img src="images/cat.jpeg" alt="Cat" style="width:270px">
                            </a>
                            <p class="title-vid">Ardhito Pramono - bitterlove (Official Video)</p>
                            <p class="desc-title-vid">Arhito Pramono</p>
                            <p class="desc-title-vid">1M views . 1 month ago</p>
                        </div>
                        <div class="col-3">
                            <a href="https://www.youtube.com/watch?v=HNvmHQCtaKU&list=RDHNvmHQCtaKU&start_radio=1">
                                <img src="images/cat.jpeg" alt="Cat" style="width:270px">
                            </a>
                            <p class="title-vid">Ardhito Pramono - bitterlove (Official Video)</p>
                            <p class="desc-title-vid">Arhito Pramono</p>
                            <p class="desc-title-vid">1M views . 1 month ago</p>
                        </div>
                        <div class="col-3">
                            <a href="https://www.youtube.com/watch?v=HNvmHQCtaKU&list=RDHNvmHQCtaKU&start_radio=1">
                                <img src="images/cat.jpeg" alt="Cat" style="width:270px">
                            </a>
                            <p class="title-vid">Ardhito Pramono - bitterlove (Official Video)</p>
                            <p class="desc-title-vid">Arhito Pramono</p>
                            <p class="desc-title-vid">1M views . 1 month ago</p>
                        </div>
                        <div class="col-3">
                            <a href="https://www.youtube.com/watch?v=HNvmHQCtaKU&list=RDHNvmHQCtaKU&start_radio=1">
                                <img src="images/cat.jpeg" alt="Cat" style="width:270px">
                            </a>
                            <p class="title-vid">Ardhito Pramono - bitterlove (Official Video)</p>
                            <p class="desc-title-vid">Arhito Pramono</p>
                            <p class="desc-title-vid">1M views . 1 month ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </section>
{% endblock %}