<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container fluid">
            <div class="row">
                <!-- start content video -->
                <div class="col-md-8">
                    
                </div>
                <!-- end content video -->
                <!-- start other video -->
                <div class="col-md-4">

                </div>
                <!-- end other video -->
            </div>
        </div>
    </section>
</body>
</html>