{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
<title>{{open_video.title}}</title>

{% endblock %}
{% block content %}
    <section class="body-index">
        <div class="container-fluid">
            <div class="row">
                <!-- start content video -->
                <div class="col-7 mt-4 ml-5">
                    <video width="100%" controls>
                        <source src="{{open_video.video.url}}" type="video/mp4">
                        <source src="{{open_video.video.url}}" type="video/ogg">
                        Your browser does not support HTML5 video.
                    </video>
                    <strong>{{open_video.title}}</strong>
                    <!-- start info video -->
                    <div class="info-video row">
                        <!-- start view & upload date -->
                        <div class="col-5">
                            <p class="">{{open_video.userviews_set.all|length}} views &middot; {{open_video.post_date.date}}</p>
                        </div>
                        <!-- end view & upload date -->
                        <!-- start like, dislike, etc -->
                        <div class="col-7">
                            <a href="/like_video/{{open_video.id}}/">
                                <img src="{% static 'images/like.png' %}" style="height: 15px;">
                            </a>
                            <p class="d-inline">{{open_video.like_video}}&nbsp;</p>

                            <a href="/dislike_video/{{open_video.id}}/">
                                <img src="{% static 'images/dislike.png' %}" style="height: 15px;">
                            </a>
                            <p class="d-inline">{{open_video.dislike_video}}&nbsp;</p>
                            
                            <img src="{% static 'images/share.png' %}" style="height: 15px;">
                            <p class="d-inline">SHARE&nbsp;</p>
                            
                            <img src="{% static 'images/save.png' %}" style="height: 15px;">
                            <p class="d-inline">SAVE&nbsp;</p>
                        </div>
                        <!-- end like, dislike, etc -->
                    </div>
                    <strong>{{open_video.username}}</strong>
                    <p>{{open_video.description}}</p>
                    <!-- end info video -->
                    <form method="POST">
                        {% csrf_token %}
                        <textarea name="commenttt" id="exampleFormControlTextarea1" rows="3" class="form-control"></textarea>
                        <button type="submit" class="btn btn-primary">Comment</button>
                    </form>
                    {% for comment in open_video.comments_set.all %}
                        <div class="comment">
                            <strong>{{comment.username}}</strong>
                            <span>{{comment.post_date}}</span>
                            <p>{{comment.describe}}</p>
                        </div>
                        {% empty %}
                        <span>No comments here yet</span>
                    {% endfor %}
                </div>
                <!-- end content video -->
                <!-- start other video -->
                <div class="col-4 mt-4">
                    <p class="recommended-vid">Recommended for you</p>
                    {% for video in videos %}
                    <a href="../{{video.pk}}">
                        <div class="row">
                            <div class="col-6 mt-2">
                                <video src="{{video.video.url}}" style="width:200px">
                                    <source src="{{video.video.url}}" type="video/mp4">
                                    <source src="{{video.video.url}}" type="video/ogg">
                                    Your browser does not support HTML5 video.
                                </video>
                            </div>
                            <div class="col-6">
                                <strong class="mb-0 title-other-video">{{video.title}}</strong>
                                <p class="mb-0 info-other-video">{{video.username}}</p>
                                <p class="mb-0 info-other-video">{{video.userviews_set.all|length}} view &middot; {{video.post_date|naturaltime}}</p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <!-- end other video -->
            </div>
        </div>
    </section>
{% endblock %}