{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
<title>{{ keyword }}</title>
{% endblock %}
{% block content %}
    <section class="body-index">
        <div class="row">
            <div class="col-1">
                <div class="icon-bar mt-5 pt-3">
                    <a class="active" href="{% url 'app_youtube:index' %}"><i class="fa fa-home"></i></a> 
                    <a href="{% url 'app_youtube:search' %}"><i class="fa fa-search"></i></a> 
                    <a href="#"><i class="fa fa-envelope"></i></a> 
                    <a href="#"><i class="fa fa-globe"></i></a>
                    <a href="#"><i class="fa fa-trash"></i></a>
                </div>
            </div>
            <div class="col-11 mt-3">
                <div class="body-index">
                    <h3>Search Result</h3>
                </div>
            </div>
        </div>
        {% for video in videos %}
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-11">
                <div class="list-videos-index">
                    <a href="../{{video.pk}}" style="text-decoration: none;">
                        <div class="row">
                            <div class="col-3">
                                <video src="{{video.video.url}}" width="100%" max-height="100px">
                                    <source src="{{video.video.url}}" type="video/mp4">
                                    <source src="{{video.video.url}}" type="video/ogg">
                                    Your browser does not support HTML5 video.
                                </video>
                            </div>
                            <div class="col-6">
                                <p class="title-search-vid"><div class="style-txt-title">{{video.title}}</div></p>
                                <p class="desc-search-title-vid"><div class="style-txt">{{video.username}} &middot; {{video.userviews_set.all|length}} views &middot; {{video.post_date|naturaltime}}</div></p>
                                <p class="desc-search-title-vid"><div class="style-txt">{{video.description|truncatewords:10}}</div></p>
                            </div>
                            <div class="col-3"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}

    </section>
{% endblock %}